.navbar-container {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  overflow-x: auto;
}
.navbar-items {
  min-width: 8rem;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .navbar-container {
    padding-top: 3rem;
    justify-content: center;
  }
  .navbar-items {
    flex: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar-image {
    transition: transform .3s;
  }
  .navbar-image:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}