.navbar-container {
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar-items {
  min-width: 5rem;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .navbar-container {
    margin-bottom: 3rem;
    padding-top: 3rem;
  }
  .navbar-items {
    min-width: 7rem;
    flex: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar-image {
    transition: transform .3s;
  }
  .navbar-image:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}